
*.xcuserstate

*.xcscheme

ChatApp.xcodeproj/project.xcworkspace/xcuserdata/devashish.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xcbkptlist

sample-with-framework/applozicdemo.xcodeproj/xcuserdata/devashish.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcbkptlist
